<div style="text-align:center">
        <h1>
        Agendamentos
        </h1>
        </div>
        <div layout-fill ng-app="myapp" ng-cloak>
        
        <div id="#app">
        <table style="margin: auto;" mat-table [dataSource]="agendamento" class="mat-elevation-z8">
        
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.name_user}} </td>
                </ng-container>
              
                <ng-container matColumnDef="servico">
                  <th mat-header-cell *matHeaderCellDef> Serviço </th>
                  <td mat-cell *matCellDef="let element"> {{element.type_service}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dia">
                  <th mat-header-cell *matHeaderCellDef> Data </th>
                  <td mat-cell *matCellDef="let element"> {{element.date_service}} </td>
                </ng-container>
              
                <ng-container matColumnDef="horario">
                  <th mat-header-cell *matHeaderCellDef> Horário </th>
                  <td mat-cell *matCellDef="let element"> {{element.hour_service}} </td>
                </ng-container>
              

                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
        </table>
        <br>
        <br>
        <div style="margin: auto;width: 65%;">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm"  novalidate>
          <label class="pure-material-textfield-outlined">
            <input placeholder=" " id="name_user" name="name_user" class="form-control"
            required minlength="4" appForbiddenName="bob"
            [(ngModel)]="data.name_user" #name="ngModel"/>
            <span>Nome</span>
          </label>
          <label class="pure-material-textfield-outlined">
            <input placeholder=" " id="type_service" name="type_service" class="form-control"
            required minlength="4" appForbiddenName="bob"
            [(ngModel)]="data.type_service" #name="ngModel"/>
            <span>Serviço</span>
          </label>
          <label class="pure-material-textfield-outlined">
            <input placeholder=" " id="date_service" name="date_service" class="form-control"
            required minlength="4" appForbiddenName="bob"
            [(ngModel)]="data.date_service" #name="ngModel"/>
            <span>Data</span>
          </label>
          <label class="pure-material-textfield-outlined">
            <input placeholder=" " id="hour_service" name="hour_service" class="form-control"
            required minlength="4" appForbiddenName="bob"
            [(ngModel)]="data.hour_service" #name="ngModel"/>
            <span>Horário</span>
          </label>
          <label class="pure-material-textfield-outlined">
           <button class="rkmd-btn btn-lg btn-lightBlue ripple-effect"><i class="material-icons right">send</i>Agendar</button>
          </label>
          </form>
        </div>

        </div>
        </div>